/* Need to use more colors in website */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  background-color: #111;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 30px;
  color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 20%;
  padding-top: 1vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 28px;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  color: black;
}
#separator {
  border-right: 1pt solid black;
}

.col-md-4.align-self-end.date {
  text-align: right;
}

.mobile {
  display: none;
}

.pmobile {
  display: none;
}

@media screen and (max-width: 1440px) {
  .details {
    display: none;
  }

  .pmobile {
    display:none;
  }

  .mobile {
    display:block;
  }

}

@media screen and (max-width: 1010px) {
  .sidenav {
    display: none
  }

  .main {
    padding: 1rem;
    margin-left: 0;
    font-size: 22px;
  }

  #separator {
    border: none
  }

  .col-md-4.align-self-end.date {
    text-align: left;
  }

  .details {
    display: none;
  }

  .pdetails {
    display: none;
  }

  .mobile {
    display:block;
  }

  .pmobile {
    display:block;
  }

}
